King-Market.Tests/Service References/ServiceReference1/SupplierService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2713/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" />
  <xs:element name="GetSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="GetSupplierResult" nillable="true" type="q1:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="GetSuppliersResult" nillable="true" type="q2:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="supplier" nillable="true" type="q3:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="AddSupplierResult" nillable="true" type="q4:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="supplier" nillable="true" type="q5:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="EditSupplierResult" nillable="true" type="q6:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KingMarketService.Domain" minOccurs="0" name="DeleteSupplierResult" nillable="true" type="q7:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>